.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.card {
    border: 1px solid #f0f0f0;
    padding: 16px;
    border-radius: 16px;
    width: 330px;
    text-align: center;
    background: rgb(36, 35, 35);
    transition: all 0.15s ease-in-out;
    cursor: pointer;/* Adicionar cursor pointer */
}

.card:hover {
    box-shadow: 3px 3px rgb(128, 127, 127);
    transform: translate(-3px, -3px);/* Corrigir a propriedade de transformação */
}

.card h2 {
    font-size: 32px;
    font-family: sans-serif;
    border-left: 5px solid #00bcd4;
    padding-left: 5px;
    margin-left: 15px;
    color: white;
}

.card .tags {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 16px;

}

.card .tags div {

    background: white;
    color: black;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;

}

.card img {
    border-radius: 16px;
}

.additional-info {
    margin-top: 20px;
    background: white;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;
    color: black;
}